html,body{
    margin: 0;
    padding:0;
}
body{
    background:url(../img/background.gif) no-repeat;
}
.header{
    width:1210px;
    height:600px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.inner{
    width:340px;
    height:506px;
    background-color: #FFFFFF;
    opacity: 0.6;
    position: absolute;
    right:100px;
    top:100px;
}
.form{
    width:280px;
    height:485px;
    position: absolute;
    left:30px;
    top:20px;
}
.form .ft{
    width:280px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.form .ft a{
    color:darkorange;
}
#myform{
    font-size: 14px;
}
#myform p{
    width:280px;
    height:40px;
    line-height: 40px;
    position: relative;
    border:1px solid gray;
    margin-bottom: 30px;
}
#myform p label{
    position: absolute;
    top:35px;
}
#myform p:last-child{
    margin-bottom:0;
}
#myform p:last-child,#myform p:nth-child(4){
    border:none;
}
#myform  p span{
    display: block;
    width:20px;
    height:20px;
    overflow: hidden;
    position: absolute;
    top:8px;
    left:8px;
}
#myform p a{
    height:38px;
    float: right;
}
#myform  p #idcode{
    width:200px;
    height:38px;
    position: absolute;
    left:200px;
    top:0px;
    font-size: 24px;
}
#myform  p span img{
    position: absolute;
    top:-45px;
    left:-60px;
}
#myform  p:nth-child(1) span img{
    top:0px;
    left:-60px;
}

#myform  p input{
    width:247px;
    height:38px;
    line-height: 38px;
    float: right;
    border: none;
    outline:none;
}
#myform  p input.checkbox{
    float: none;
}
#myform input.checkbox{
    width:12px;
    height:12px;
}
#myform button{
    width:280px;
    text-align: center;
    height:40px;
    line-height: 40px;
    border: none;
    background-color: #d10048;
    opacity:1;
    border-radius: 5px;
}