<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/lib/require/require.js" data-main="/js/register"></script>
</head>
<body>
<div class="header">
    <p>
        <img src="/img/newlogo.png">
    </p>
    <div class="inner">
        <div class="form">
            <p class="ft">
                <span>
                    已有麦林账号?
                    <a href="/user/login">立即登陆</a>
                </span>
                <a href="">贵宾激活</a>
            </p>
            <form id="myform">
                <p>
                    <span>
                        <img src="/img/ps.png">
                    </span>
                    <input type="text" name="uname" >
                </p>
                <p>
                    <span>
                        <img src="/img/ps.png">
                    </span>
                    <input type="text" name="uphone" >
                </p>
                <p>
                    <span>
                        <img src="/img/ps.png">
                    </span>
                    <input type="text" name="yzm" id="Txtidcode">
                    <label></label>
                    <span id="idcode"></span>

                </p>
                <p>
                    <span>
                        <img src="/img/ps.png">
                    </span>
                    <input type="text" name="upwd" id="upwd">
                    <span></span>
                </p>
                <p>
                    <span>
                        <img src="/img/ps.png">
                    </span>
                    <input type="text" name="urpwd" >
                </p>
                <p>
                    <input type="checkbox" class="checkbox" checked="checked">
                    我已阅读并同意《麦考林注册协议》
                </p>
                <p>
                    <button type="submit">注册</button>
                </p>
            </form>
        </div>
    </div>
</div>
<div class="foot"></div>
</body>
</html>